In [1]:
import numpy as np 
import pandas as pd

In [7]:
data = pd.read_csv(r"C:\Users\giris\Desktop\AI IBM\bank.csv")

In [8]:
data.head(30)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,30,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,29,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,31,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,35,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,32,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,49,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,41,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,49,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
20,28,admin.,divorced,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
21,43,management,single,tertiary,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown,yes
22,43,management,divorced,tertiary,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown,yes
23,43,blue-collar,married,primary,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
24,37,unemployed,single,secondary,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown,yes
25,35,blue-collar,single,secondary,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown,yes
26,31,technician,single,tertiary,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown,yes
27,43,blue-collar,single,secondary,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown,yes
28,31,admin.,married,secondary,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown,yes
29,28,blue-collar,single,secondary,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown,yes

In [9]:
data.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [10]:
inputs = data.iloc[:, :16].values
outputs = data.iloc[:, -1:].values

In [11]:
inputs[0:2]

array([[59, 'admin.', 'married', 'secondary', 'no', 2343, 'yes', 'no',
        'unknown', 5, 'may', 1042, 1, -1, 0, 'unknown'],
       [56, 'admin.', 'married', 'secondary', 'no', 45, 'no', 'no',
        'unknown', 5, 'may', 1467, 1, -1, 0, 'unknown']], dtype=object)

In [12]:
outputs.shape

(11162, 1)

In [13]:
outputs

array([['yes'],
       ['yes'],
       ['yes'],
       ...,
       ['no'],
       ['no'],
       ['no']], dtype=object)

In [14]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [15]:
ct = ColumnTransformer([('one', OneHotEncoder(), [1,2,3,4,6,7,8,10,15])], remainder = 'passthrough')
inputs = ct.fit_transform(inputs)

cto = ColumnTransformer([('one', OneHotEncoder(), [0])], remainder = 'passthrough')
outputs = cto.fit_transform(outputs)

In [16]:
inputs.shape

(11162, 51)

In [17]:
inputs

array([[1.0, 0.0, 0.0, ..., 1, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 0.0, 0.0, ..., 1, -1, 0],
       ...,
       [0.0, 0.0, 0.0, ..., 2, -1, 0],
       [0.0, 0.0, 0.0, ..., 2, 172, 5],
       [0.0, 0.0, 0.0, ..., 1, -1, 0]], dtype=object)

In [18]:
outputs

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test = train_test_split(inputs,outputs,test_size = 0.2, random_state = 0)

In [21]:
print('Inputs Shape ', inputs.shape)
print('Outputs Shape ', outputs.shape)
print('x_train Shape ', x_train.shape)
print('x_test Shape ', x_test.shape)
print('y_train Shape ', y_train.shape)
print('y_test Shape', y_test.shape)

Inputs Shape  (11162, 51)
Outputs Shape  (11162, 2)
x_train Shape  (8929, 51)
x_test Shape  (2233, 51)
y_train Shape  (8929, 2)
y_test Shape (2233, 2)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [24]:
x_train

array([[-0.37172192, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [-0.37172192, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [-0.37172192,  2.18530314, -0.17658264, ...,  0.92827075,
        -0.48428507, -0.35888264],
       ...,
       [-0.37172192, -0.45760242, -0.17658264, ...,  2.04743488,
        -0.48428507, -0.35888264],
       [ 2.69018306, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [-0.37172192, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264]])

In [25]:
x_test

array([[-0.35506564, -0.46571851, -0.16329932, ..., -0.51893725,
         2.62409874,  0.62465525],
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.51893725,
         1.30248101,  1.63872661],
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612],
       ...,
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612],
       [ 2.81638066, -0.46571851, -0.16329932, ..., -0.51893725,
        -0.46885387, -0.38941612],
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612]])

In [26]:
# ANN MODELLING

In [27]:
from tensorflow.keras.models import Sequential  
from tensorflow.keras.layers import Dense

In [28]:
categorical = Sequential()

In [43]:
# Input layer
categorical.add(Dense(units = 51, kernel_initializer = 'random_uniform', activation = 'relu'))

In [30]:
# Hidden layer 1  
categorical.add(Dense(units = 102, kernel_initializer = 'random_uniform', activation = 'relu'))

In [31]:
# Hidden layer 2
categorical.add(Dense(units = 102, kernel_initializer = 'random_uniform', activation = 'relu'))

In [32]:
# Output layer 
categorical.add(Dense(units = 2, kernel_initializer = 'random_uniform', activation = 'softmax'))

In [33]:
# Compiling model  
categorical.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])

In [34]:
# Training the model 
categorical.fit(x_train, y_train, epochs = 150)

Epoch 1/150
8929/8929 [==============================] - 2s 206us/sample - loss: 0.4392 - acc: 0.8024
Epoch 2/150
8929/8929 [==============================] - 2s 181us/sample - loss: 0.3599 - acc: 0.8462
Epoch 3/150
8929/8929 [==============================] - 1s 146us/sample - loss: 0.3421 - acc: 0.8569
Epoch 4/150
8929/8929 [==============================] - 1s 141us/sample - loss: 0.3326 - acc: 0.8629
Epoch 5/150
8929/8929 [==============================] - 1s 147us/sample - loss: 0.3258 - acc: 0.8678
Epoch 6/150
8929/8929 [==============================] - 1s 136us/sample - loss: 0.3147 - acc: 0.8691
Epoch 7/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.3099 - acc: 0.8734
Epoch 8/150
8929/8929 [==============================] - 1s 129us/sample - loss: 0.3031 - acc: 0.8730
Epoch 9/150
8929/8929 [==============================] - 1s 124us/sample - loss: 0.3000 - acc: 0.8738
Epoch 10/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.2936 - acc: 0.8799
Epoch 11/150
8929/8929 [==============================] - 1s 122us/sample - loss: 0.2919 - acc: 0.8797
Epoch 12/150
8929/8929 [==============================] - 2s 178us/sample - loss: 0.2815 - acc: 0.8848s - loss: 0.2800 -
Epoch 13/150
8929/8929 [==============================] - 2s 214us/sample - loss: 0.2888 - acc: 0.8769
Epoch 14/150
8929/8929 [==============================] - 2s 214us/sample - loss: 0.2758 - acc: 0.8844
Epoch 15/150
8929/8929 [==============================] - 2s 201us/sample - loss: 0.2713 - acc: 0.8853
Epoch 16/150
8929/8929 [==============================] - 2s 182us/sample - loss: 0.2678 - acc: 0.8869
Epoch 17/150
8929/8929 [==============================] - 1s 140us/sample - loss: 0.2620 - acc: 0.8924
Epoch 18/150
8929/8929 [==============================] - 1s 108us/sample - loss: 0.2550 - acc: 0.8951
Epoch 19/150
8929/8929 [==============================] - 1s 120us/sample - loss: 0.2495 - acc: 0.8944
Epoch 20/150
8929/8929 [==============================] - 1s 153us/sample - loss: 0.2443 - acc: 0.8984
Epoch 21/150
8929/8929 [==============================] - 1s 166us/sample - loss: 0.2414 - acc: 0.8999
Epoch 22/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.2351 - acc: 0.9010
Epoch 23/150
8929/8929 [==============================] - 1s 122us/sample - loss: 0.2314 - acc: 0.9039
Epoch 24/150
8929/8929 [==============================] - 1s 124us/sample - loss: 0.2198 - acc: 0.9085
Epoch 25/150
8929/8929 [==============================] - 1s 133us/sample - loss: 0.2130 - acc: 0.9089
Epoch 26/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.2201 - acc: 0.9048
Epoch 27/150
8929/8929 [==============================] - 1s 127us/sample - loss: 0.2058 - acc: 0.9148
Epoch 28/150
8929/8929 [==============================] - 1s 140us/sample - loss: 0.1989 - acc: 0.9179
Epoch 29/150
8929/8929 [==============================] - 1s 122us/sample - loss: 0.2090 - acc: 0.9126
Epoch 30/150
8929/8929 [==============================] - 1s 127us/sample - loss: 0.1930 - acc: 0.9149
Epoch 31/150
8929/8929 [==============================] - 1s 123us/sample - loss: 0.1844 - acc: 0.9218
Epoch 32/150
8929/8929 [==============================] - 1s 162us/sample - loss: 0.1736 - acc: 0.9228
Epoch 33/150
8929/8929 [==============================] - 1s 132us/sample - loss: 0.1767 - acc: 0.9253
Epoch 34/150
8929/8929 [==============================] - 1s 138us/sample - loss: 0.1696 - acc: 0.9272
Epoch 35/150
8929/8929 [==============================] - 2s 188us/sample - loss: 0.1678 - acc: 0.9260
Epoch 36/150
8929/8929 [==============================] - 2s 193us/sample - loss: 0.1558 - acc: 0.9309
Epoch 37/150
8929/8929 [==============================] - 1s 162us/sample - loss: 0.1534 - acc: 0.9326
Epoch 38/150
8929/8929 [==============================] - 1s 163us/sample - loss: 0.1517 - acc: 0.9347
Epoch 39/150
8929/8929 [==============================] - 1s 150us/sample - loss: 0.1446 - acc: 0.9357
Epoch 40/150
8929/8929 [==============================] - 1s 125us/sample - loss: 0.1437 - acc: 0.9366
Epoch 41/150
8929/8929 [==============================] - 1s 129us/sample - loss: 0.1407 - acc: 0.9383
Epoch 42/150
8929/8929 [==============================] - 1s 124us/sample - loss: 0.1285 - acc: 0.9460
Epoch 43/150
8929/8929 [==============================] - 1s 144us/sample - loss: 0.1297 - acc: 0.9446
Epoch 44/150
8929/8929 [==============================] - 1s 129us/sample - loss: 0.1369 - acc: 0.9415
Epoch 45/150
8929/8929 [==============================] - 1s 124us/sample - loss: 0.1228 - acc: 0.9481
Epoch 46/150
8929/8929 [==============================] - 1s 124us/sample - loss: 0.1088 - acc: 0.9527
Epoch 47/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.1256 - acc: 0.9459
Epoch 48/150
8929/8929 [==============================] - 1s 122us/sample - loss: 0.1246 - acc: 0.9473
Epoch 49/150
8929/8929 [==============================] - 1s 133us/sample - loss: 0.1024 - acc: 0.9568
Epoch 50/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.1019 - acc: 0.9583
Epoch 51/150
8929/8929 [==============================] - 1s 144us/sample - loss: 0.1089 - acc: 0.9560
Epoch 52/150
8929/8929 [==============================] - 1s 130us/sample - loss: 0.1042 - acc: 0.9570
Epoch 53/150
8929/8929 [==============================] - 1s 129us/sample - loss: 0.0958 - acc: 0.9592
Epoch 54/150
8929/8929 [==============================] - 1s 140us/sample - loss: 0.0862 - acc: 0.9644
Epoch 55/150
8929/8929 [==============================] - 1s 130us/sample - loss: 0.0919 - acc: 0.9623
Epoch 56/150
8929/8929 [==============================] - 1s 134us/sample - loss: 0.0783 - acc: 0.9695
Epoch 57/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.0988 - acc: 0.9600
Epoch 58/150
8929/8929 [==============================] - 1s 130us/sample - loss: 0.0805 - acc: 0.9671
Epoch 59/150
8929/8929 [==============================] - 1s 134us/sample - loss: 0.0761 - acc: 0.9684
Epoch 60/150
8929/8929 [==============================] - 1s 126us/sample - loss: 0.0766 - acc: 0.9689
Epoch 61/150
8929/8929 [==============================] - 1s 133us/sample - loss: 0.0751 - acc: 0.9694
Epoch 62/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0814 - acc: 0.9677
Epoch 63/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0851 - acc: 0.9679
Epoch 64/150
8929/8929 [==============================] - 1s 136us/sample - loss: 0.0645 - acc: 0.9745
Epoch 65/150
8929/8929 [==============================] - 1s 129us/sample - loss: 0.0572 - acc: 0.9773
Epoch 66/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.0731 - acc: 0.9718
Epoch 67/150
8929/8929 [==============================] - 1s 137us/sample - loss: 0.0583 - acc: 0.9792
Epoch 68/150
8929/8929 [==============================] - 1s 140us/sample - loss: 0.0856 - acc: 0.9700
Epoch 69/150
8929/8929 [==============================] - 1s 140us/sample - loss: 0.0678 - acc: 0.9754
Epoch 70/150
8929/8929 [==============================] - 1s 137us/sample - loss: 0.0681 - acc: 0.9733
Epoch 71/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0621 - acc: 0.9779
Epoch 72/150
8929/8929 [==============================] - 1s 133us/sample - loss: 0.0506 - acc: 0.9822
Epoch 73/150
8929/8929 [==============================] - 1s 129us/sample - loss: 0.0438 - acc: 0.9841
Epoch 74/150
8929/8929 [==============================] - 1s 130us/sample - loss: 0.0511 - acc: 0.9802
Epoch 75/150
8929/8929 [==============================] - 1s 134us/sample - loss: 0.0736 - acc: 0.9721
Epoch 76/150
8929/8929 [==============================] - 1s 125us/sample - loss: 0.0871 - acc: 0.9684
Epoch 77/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0563 - acc: 0.9817
Epoch 78/150
8929/8929 [==============================] - 1s 135us/sample - loss: 0.0450 - acc: 0.9840
Epoch 79/150
8929/8929 [==============================] - 1s 136us/sample - loss: 0.0359 - acc: 0.9873
Epoch 80/150
8929/8929 [==============================] - 1s 127us/sample - loss: 0.0276 - acc: 0.9904
Epoch 81/150
8929/8929 [==============================] - 1s 121us/sample - loss: 0.0527 - acc: 0.9808
Epoch 82/150
8929/8929 [==============================] - 1s 126us/sample - loss: 0.0644 - acc: 0.9757
Epoch 83/150
8929/8929 [==============================] - 1s 124us/sample - loss: 0.0667 - acc: 0.9775
Epoch 84/150
8929/8929 [==============================] - 1s 129us/sample - loss: 0.0418 - acc: 0.9861
Epoch 85/150
8929/8929 [==============================] - ETA: 0s - loss: 0.0566 - acc: 0.979 - 1s 120us/sample - loss: 0.0568 - acc: 0.9798
Epoch 86/150
8929/8929 [==============================] - 1s 130us/sample - loss: 0.0458 - acc: 0.9848
Epoch 87/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.0265 - acc: 0.9908
Epoch 88/150
8929/8929 [==============================] - 1s 123us/sample - loss: 0.0301 - acc: 0.9894
Epoch 89/150
8929/8929 [==============================] - 1s 126us/sample - loss: 0.0674 - acc: 0.9765
Epoch 90/150
8929/8929 [==============================] - 1s 119us/sample - loss: 0.0632 - acc: 0.9779
Epoch 91/150
8929/8929 [==============================] - 1s 125us/sample - loss: 0.0339 - acc: 0.9887
Epoch 92/150
8929/8929 [==============================] - 1s 125us/sample - loss: 0.0392 - acc: 0.9873
Epoch 93/150
8929/8929 [==============================] - 1s 166us/sample - loss: 0.0281 - acc: 0.9906
Epoch 94/150
8929/8929 [==============================] - 2s 213us/sample - loss: 0.0306 - acc: 0.9899
Epoch 95/150
8929/8929 [==============================] - 2s 169us/sample - loss: 0.0307 - acc: 0.9900
Epoch 96/150
8929/8929 [==============================] - 1s 135us/sample - loss: 0.0354 - acc: 0.9880
Epoch 97/150
8929/8929 [==============================] - 1s 130us/sample - loss: 0.0832 - acc: 0.9719
Epoch 98/150
8929/8929 [==============================] - 1s 130us/sample - loss: 0.0530 - acc: 0.9803
Epoch 99/150
8929/8929 [==============================] - 1s 126us/sample - loss: 0.0297 - acc: 0.9906
Epoch 100/150
8929/8929 [==============================] - 1s 136us/sample - loss: 0.0216 - acc: 0.9936
Epoch 101/150
8929/8929 [==============================] - 1s 140us/sample - loss: 0.0266 - acc: 0.9914
Epoch 102/150
8929/8929 [==============================] - 1s 143us/sample - loss: 0.0343 - acc: 0.9885
Epoch 103/150
8929/8929 [==============================] - 1s 130us/sample - loss: 0.0492 - acc: 0.9842
Epoch 104/150
8929/8929 [==============================] - 1s 130us/sample - loss: 0.0668 - acc: 0.9785
Epoch 105/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0319 - acc: 0.9885
Epoch 106/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0279 - acc: 0.9905
Epoch 107/150
8929/8929 [==============================] - 1s 129us/sample - loss: 0.0295 - acc: 0.9890
Epoch 108/150
8929/8929 [==============================] - 1s 124us/sample - loss: 0.0202 - acc: 0.9932
Epoch 109/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0221 - acc: 0.9929
Epoch 110/150
8929/8929 [==============================] - 1s 133us/sample - loss: 0.0286 - acc: 0.9901s - loss:
Epoch 111/150
8929/8929 [==============================] - 1s 127us/sample - loss: 0.0426 - acc: 0.9856
Epoch 112/150
8929/8929 [==============================] - 1s 134us/sample - loss: 0.0432 - acc: 0.9860
Epoch 113/150
8929/8929 [==============================] - 1s 127us/sample - loss: 0.0239 - acc: 0.9926
Epoch 114/150
8929/8929 [==============================] - 1s 127us/sample - loss: 0.0232 - acc: 0.9924
Epoch 115/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.0414 - acc: 0.9864
Epoch 116/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.1055 - acc: 0.9676
Epoch 117/150
8929/8929 [==============================] - 1s 136us/sample - loss: 0.0307 - acc: 0.9881
Epoch 118/150
8929/8929 [==============================] - 1s 129us/sample - loss: 0.0166 - acc: 0.9957
Epoch 119/150
8929/8929 [==============================] - 1s 155us/sample - loss: 0.0203 - acc: 0.9936
Epoch 120/150
8929/8929 [==============================] - 1s 133us/sample - loss: 0.0171 - acc: 0.9955
Epoch 121/150
8929/8929 [==============================] - 1s 127us/sample - loss: 0.0205 - acc: 0.9933
Epoch 122/150
8929/8929 [==============================] - 1s 132us/sample - loss: 0.0422 - acc: 0.9867
Epoch 123/150
8929/8929 [==============================] - 1s 125us/sample - loss: 0.0589 - acc: 0.9788
Epoch 124/150
8929/8929 [==============================] - 1s 133us/sample - loss: 0.0308 - acc: 0.9896
Epoch 125/150
8929/8929 [==============================] - 1s 133us/sample - loss: 0.0154 - acc: 0.9960
Epoch 126/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0086 - acc: 0.9980
Epoch 127/150
8929/8929 [==============================] - 1s 135us/sample - loss: 0.0104 - acc: 0.9975
Epoch 128/150
8929/8929 [==============================] - 1s 136us/sample - loss: 0.0092 - acc: 0.9972
Epoch 129/150
8929/8929 [==============================] - 1s 132us/sample - loss: 0.0215 - acc: 0.9935
Epoch 130/150
8929/8929 [==============================] - 1s 136us/sample - loss: 0.0556 - acc: 0.9834
Epoch 131/150
8929/8929 [==============================] - 1s 136us/sample - loss: 0.0568 - acc: 0.9819
Epoch 132/150
8929/8929 [==============================] - 1s 138us/sample - loss: 0.0424 - acc: 0.9849
Epoch 133/150
8929/8929 [==============================] - 1s 137us/sample - loss: 0.0261 - acc: 0.9923
Epoch 134/150
8929/8929 [==============================] - 1s 139us/sample - loss: 0.0234 - acc: 0.9935
Epoch 135/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0157 - acc: 0.9960
Epoch 136/150
8929/8929 [==============================] - 1s 132us/sample - loss: 0.0187 - acc: 0.9933
Epoch 137/150
8929/8929 [==============================] - 1s 138us/sample - loss: 0.0111 - acc: 0.9972
Epoch 138/150
8929/8929 [==============================] - 1s 130us/sample - loss: 0.0073 - acc: 0.9982
Epoch 139/150
8929/8929 [==============================] - 1s 132us/sample - loss: 0.0166 - acc: 0.9950
Epoch 140/150
8929/8929 [==============================] - 1s 133us/sample - loss: 0.0399 - acc: 0.9856
Epoch 141/150
8929/8929 [==============================] - 1s 135us/sample - loss: 0.0695 - acc: 0.9757
Epoch 142/150
8929/8929 [==============================] - 1s 132us/sample - loss: 0.0367 - acc: 0.9879
Epoch 143/150
8929/8929 [==============================] - 1s 139us/sample - loss: 0.0227 - acc: 0.9927
Epoch 144/150
8929/8929 [==============================] - 1s 137us/sample - loss: 0.0110 - acc: 0.9972
Epoch 145/150
8929/8929 [==============================] - 1s 143us/sample - loss: 0.0087 - acc: 0.9976
Epoch 146/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.0120 - acc: 0.9961
Epoch 147/150
8929/8929 [==============================] - 1s 124us/sample - loss: 0.0230 - acc: 0.9931
Epoch 148/150
8929/8929 [==============================] - 1s 128us/sample - loss: 0.0359 - acc: 0.9880
Epoch 149/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0453 - acc: 0.9857
Epoch 150/150
8929/8929 [==============================] - 1s 131us/sample - loss: 0.0294 - acc: 0.9907

In [35]:
# Testing Model with Test Set 
ypred = categorical.predict(x_test)

In [36]:
ypred[0]

array([1.0000000e+00, 6.3730157e-13], dtype=float32)

In [37]:
ypred[0]>0.5

array([ True, False])

In [38]:
data.head(100)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,30,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,29,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,31,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,35,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,32,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,49,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,41,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,49,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
20,28,admin.,divorced,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
21,43,management,single,tertiary,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown,yes
22,43,management,divorced,tertiary,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown,yes
23,43,blue-collar,married,primary,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
24,37,unemployed,single,secondary,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown,yes
25,35,blue-collar,single,secondary,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown,yes
26,31,technician,single,tertiary,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown,yes
27,43,blue-collar,single,secondary,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown,yes
28,31,admin.,married,secondary,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown,yes
29,28,blue-collar,single,secondary,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,60,services,single,primary,no,313,yes,no,unknown,15,may,920,2,-1,0,unknown,yes
71,29,management,married,tertiary,no,10576,no,no,unknown,15,may,1224,2,-1,0,unknown,yes
72,41,retired,divorced,primary,no,-233,yes,no,unknown,15,may,1156,2,-1,0,unknown,yes
73,41,blue-collar,married,primary,no,2453,yes,no,unknown,15,may,1052,1,-1,0,unknown,yes
74,42,technician,single,secondary,no,1364,yes,no,unknown,15,may,1867,6,-1,0,unknown,yes
75,36,services,single,unknown,no,281,yes,no,unknown,16,may,515,1,-1,0,unknown,yes
76,39,technician,married,tertiary,no,94,yes,yes,unknown,16,may,813,1,-1,0,unknown,yes
77,31,self-employed,single,tertiary,no,144,yes,no,unknown,16,may,676,1,-1,0,unknown,yes
78,26,blue-collar,married,secondary,no,246,yes,no,unknown,16,may,1143,3,-1,0,unknown,yes
79,31,blue-collar,married,secondary,no,92,yes,no,unknown,16,may,688,1,-1,0,unknown,yes
80,29,admin.,single,secondary,no,163,yes,yes,unknown,16,may,803,1,-1,0,unknown,yes
81,37,services,divorced,secondary,no,49,yes,no,unknown,16,may,619,2,-1,0,unknown,yes
82,33,blue-collar,single,secondary,no,-416,yes,no,unknown,16,may,767,2,-1,0,unknown,yes
83,24,technician,single,secondary,no,409,yes,no,unknown,16,may,912,1,-1,0,unknown,yes
84,50,admin.,divorced,secondary,no,363,yes,no,unknown,16,may,1340,1,-1,0,unknown,yes
85,27,technician,single,tertiary,no,3706,yes,no,unknown,16,may,897,1,-1,0,unknown,yes
86,54,management,single,tertiary,no,4393,yes,no,unknown,16,may,1297,3,-1,0,unknown,yes
87,30,technician,single,secondary,no,863,yes,no,unknown,16,may,1193,5,-1,0,unknown,yes
88,34,blue-collar,married,primary,no,695,yes,yes,unknown,16,may,1064,4,-1,0,unknown,yes
89,37,management,single,secondary,no,792,yes,no,unknown,16,may,1187,4,-1,0,unknown,yes
90,41,admin.,single,secondary,no,1020,yes,no,unknown,19,may,882,1,-1,0,unknown,yes
91,47,blue-collar,married,secondary,no,863,yes,no,unknown,19,may,943,2,-1,0,unknown,yes
92,31,admin.,married,secondary,no,97,yes,no,unknown,19,may,607,1,-1,0,unknown,yes
93,31,blue-collar,married,secondary,no,754,yes,no,unknown,19,may,1022,4,-1,0,unknown,yes
94,43,services,divorced,secondary,no,1040,yes,no,unknown,19,may,552,3,-1,0,unknown,yes
95,37,management,divorced,tertiary,no,122,yes,no,unknown,19,may,1622,2,-1,0,unknown,yes
96,30,technician,single,tertiary,no,880,yes,yes,unknown,19,may,967,6,-1,0,unknown,yes
97,41,technician,married,secondary,no,501,yes,no,unknown,19,may,579,5,-1,0,unknown,yes
98,36,blue-collar,married,secondary,no,4438,yes,no,unknown,20,may,446,1,-1,0,unknown,yes
99,35,blue-collar,divorced,secondary,no,0,yes,no,unknown,20,may,1205,1,-1,0,unknown,yes

In [39]:
# Testing Model with Individual Data Set
yp = categorical.predict(sc.transform(ct.transform([[40, "management", "married", "secondary", "no", 4025, "yes", "no", "cellular", 15, "jul", 107, 4, -1, 0, "unknown"]])))

In [40]:
yp

array([[9.9999952e-01, 4.4668562e-07]], dtype=float32)

In [41]:
deposits = ['No', 'Yes']
prediction = deposits[np.argmax(yp)]
prediction

'No'

In [42]:
np.argmax(yp)

0